//*************************** Properties ***************************
$properties:															margin, padding;
$sides:																		top, right, bottom, left;
$sides-gird-overrides:										right left;