// GreatVibes
@font-face {
   font-family: 'GreatVibes';
   src: url('../../fonts/great-vibes/GreatVibes-Regular.otf') format('opentype'),
        url('../../fonts/great-vibes/greatvibes-regular-webfont.woff') format('woff'),
        url('../../fonts/great-vibes/greatvibes-regular-webfont.woff2') format('woff');
   font-weight: normal; //Suposed to be "normal." Don't change.
   font-style: normal; //Suposed to be "normal." Don't change.   
}
