.home-bg-img {
	background-image: url(../img/2514-Tournament-Drive-Castle-Rock-CO-80108_09.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: local;
	background-size:  cover;
	background-color: #999;
}