// Partial-specific vars
$header-text-color: $light-gray;

header#page-header {
	position: relative;
	h1, h1, h1, h1, h1, h1 {
		color: $header-text-color;;
	}
	button,
	.button {
		position: absolute;
		top: 50%;
		right: 5%;
		transform: translateY(-50%);
	}
}

#header {
	color: $header-text-color;
	h1 {
		margin-top: rem-calc(8);
		@include breakpoint(400) {
			text-align: center;
		}
	}
}

.header-outer-container {
	position: relative;
	padding: 0 0 rem-calc(7) 0;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px rem-calc(5) 0px rgba(0,0,0,0.5);
	z-index: 1;
}
