// module-specific vars
$nav-border-color: #404040;
$nav-box-shadow-color: #2d2d2d;

// This ruleset won't be rendered on its own.
nav {
	&%home {
		ul {
			display: none;
			li {
				background-color: #2d2d2d;
				border-bottom: 1px solid $nav-border-color;
				-webkit-transition: background-color 300ms;
					 -moz-transition: background-color 300ms;
						-ms-transition: background-color 300ms;
						 -o-transition: background-color 300ms;
								transition: background-color 300ms;
				&:hover {
					background-color: #cccccc;
					// box-shadow: inset 0 rem-calc(10) rem-calc(5) rem-calc(-10) $nav-box-shadow-color, inset 0 rem-calc(-10) rem-calc(5) rem-calc(-10) $nav-box-shadow-color;
					-webkit-transition: background-color 300ms;
						 -moz-transition: background-color 300ms;
							-ms-transition: background-color 300ms;
							 -o-transition: background-color 300ms;
									transition: background-color 300ms;
					a {
						color: #2d2d2d;
						-webkit-transition: color 300ms;
							 -moz-transition: color 300ms;
								-ms-transition: color 300ms;
								 -o-transition: color 300ms;
										transition: color 300ms;
					}
				}
				&:first-of-type {
					border-top: 1px solid $nav-border-color;
				}
				a {
					width: 100%;
					display: block;
					color: #ffffff;
					padding: rem-calc(10);
					-webkit-transition: color 300ms;
						 -moz-transition: color 300ms;
							-ms-transition: color 300ms;
							 -o-transition: color 300ms;
									transition: color 300ms;
				}
				@include breakpoint(medium) {
					background-color: initial;
					border-bottom: none;
					// media-specific
					list-style: none;
					display: inline-block;
		      // one item
		      &:first-child:nth-last-child(1),
		      // two items
		      &:first-child:nth-last-child(2),
		      &:first-child:nth-last-child(2) ~ li {
						width: 50%;
		      }
		      // three items
		      &:first-child:nth-last-child(3),
		      &:first-child:nth-last-child(3) ~ li {
						width: 33.333333%;
		      }
		      // four items
		      &:first-child:nth-last-child(4),
		      &:first-child:nth-last-child(4) ~ li {
						width: 50%;
						@include breakpoint(medium) {
							width: 25%;
						}
		      }
		      // five items
		      &:first-child:nth-last-child(5),
		      &:first-child:nth-last-child(5) ~ li {
						width: 50%;
						@include breakpoint(medium) {
							width: 20%;
						}
		      }
					a {
						font-family: $header-font-family-overrides;
						width: initial;
						display: initial;
						color: initial;
						padding: initial;
						// media-specific
						position: relative;
						display: block;
						text-decoration: none;
						width: 0;
						height: 0;
						@include breakpoint(750) {
							padding: rem-calc(70);
						}
						padding: rem-calc(50);
						white-space: nowrap;
						background-color: white;
						border-radius: 50%;
						left: 50%;
						transform: translateX(-50%);
						span {
							position: absolute;
							transform: translate(-50%, -50%);
						}
					}
				}
			}
			@include breakpoint(medium) {
				display: initial;
			}
		}
	}
	&%sub {
	  color: white;
	  font-size: 1.5em;
	}
}

#nav-home-page {
  @extend %home;
}

#nav-sub-page {
  @extend %sub;
}
