.overflow-hidden {
	overflow: hidden !important;
}
.display-block {
	display: block !important;
}
.display-inline-block {
	display: inline-block !important;
}
.position-relative {
	position: relative !important;
}
.no-wrap {
	white-space: nowrap;
}
.g-recaptcha {
	margin-top: rem-calc(24) !important;
}

// Gallery Overrides
.galleryShadow {
    width: 100%;
    height: 168px;
    position: relative;
    margin-top: -110px;
    background: transparent url(../../assets/img/galleryShadow.png) no-repeat bottom center;
    background-size: 100% 100%;
    z-index: -1;
    display: block;
}
.orbit-previous,
.orbit-next {
	padding: rem-calc(28);
	border-radius: 50%;
	span {
		&.align-center {
			position: absolute;
			top: 50% !important;
			left: 50% !important;
			transform: translate(-50%, -50%) !important;
		}
	}
}
// End Gallery Overrides