// mixins
@mixin strapline-trans-caret {
	-webkit-transition: left 300ms ease-in-out;
		 -moz-transition: left 300ms ease-in-out;
			-ms-transition: left 300ms ease-in-out;
			 -o-transition: left 300ms ease-in-out;
					transition: left 300ms ease-in-out;
}
@mixin strapline-trans-opacity {
	-webkit-transition: opacity 300ms ease-in-out;
		 -moz-transition: opacity 300ms ease-in-out;
			-ms-transition: opacity 300ms ease-in-out;
			 -o-transition: opacity 300ms ease-in-out;
					transition: opacity 300ms ease-in-out;
}
@mixin strapline-opacity($opacity) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
  filter: alpha(opactiy=($opacity * 100));
  -khtml-opacity: $opacity;
  -moz-opacity: $opacity;
  opacity: $opacity;
}

.strapline-highlights {
  background-color: #2d2d2d;
  padding: rem-calc(12);
  position: relative;
  display: block;
  min-height: rem-calc(72);
  h1, h2, h3, h4, h5, h6 {
    color: #bebebe;
    &.center {
      position: relative;
      top: initial;
      transform: initial;
    	@include breakpoint(medium) {
  	    position: absolute;
  	    top: 50%;
  	    transform: translateY(-50%);
    	}
    }
    @include strapline-opacity(0);
    @include strapline-trans-opacity;
    &.show {
      // display: block;
      @include strapline-opacity(1);
    }
  }
  p {
    // font-size: rem-calc(12);
    color: #bebebe;
    display: inline;
    @include strapline-opacity(0);
    @include strapline-trans-opacity;
    &.show {
      // display: block;
      @include strapline-opacity(1);
    }
  }
  // a {
  //   color: #ff9900;
  //   font-style: italic;
  //   @include strapline-trans-colors;
  //   &:hover {
  //     color: #ffc800;
  //     // text-decoration: underline;
  //     @include strapline-trans-colors;
  //   }
  // }
  .caret {
  	display: none;
  	@include breakpoint(medium) {
  		display: initial;
  	}
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 rem-calc(18) rem-calc(18);
    border-color: #ffffff transparent;
    margin-left: rem-calc(-18);
    top: rem-calc(-18);
    left: 10%; // Starting position. Shift is performed by strapline.js via data-percent attribute.
    @include strapline-trans-caret;
		&:before {
	    content: '';
	    position: absolute;
	    border-style: solid;
	    border-width: 0 rem-calc(16) rem-calc(16);
	    border-color: #2d2d2d transparent;
	    margin-left: rem-calc(-16);
	    top: rem-calc(2);
		}
  }
}

.strapline-outer-container {
	position: relative;
	margin-top: rem-calc(-7);
	padding: rem-calc(7) 0 rem-calc(7) 0;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px rem-calc(5) 0px rgba(0,0,0,0.5);
  text-align: justify;
}

.strapline-profile {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: rem-calc(32);
  }
  p {
    margin-top: rem-calc(-42);
    white-space: nowrap;
  }
}
